body {
    margin: 0;
    padding: 2.7rem;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

main {
    display: flex;
    width: 55rem;
    height: 45rem;
    font-family: sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: #00000030 0px 10px 20px;
}

aside {
    width: 25%;
}

aside h2 {
    color: #161616;
    text-align: center;
}

aside nav .nav-links {
    border-radius: 3px;
}

/* aside nav .nav-links a:not(.active):hover {
    text-decoration: underline;
} */

aside nav .nav-links a.active {
    background-color: #f85f1e;
    color: #ffffff;
}

aside nav .nav-links a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #161616;
    padding: 12px;
    border-radius: 3px;
}

section {
    border-left: 1px solid #eeeeee;
    width: 75%;
}

section h2 {
    color: #161616;
    text-align: center;
}

.closebtn {
    position: relative;
    z-index: 1;
    left: 80%;
    font-size: 35px;
}

.logout-btn {
    position: relative;
    top: 56%;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #161616;
    opacity: 80%;
}

@media (max-width: 856px) {
    body {
        padding: 1rem;
    }

    main {
        flex-direction: column;
        width: 100%;
        height: auto;
        box-shadow: none;
        border-radius: 0;
    }

    aside {
        width: 100%;
        border-bottom: 1px solid #ddd;
    }

    aside nav .nav-links {
        display: flex;
        justify-content: center;
    }

    section {
        width: 100%;
        border-left: none;
    }

    aside nav .nav-links a {
        padding: 10px;
        font-size: 16px;
    }
}