body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 90vh;
    font-size: 15px; 
    font-family: sans-serif;
    border-radius: 10px;
    margin: 0 auto;
    margin: 1em;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

aside {
    width: 25%;
    border-right: 1px solid #eeeeee;
}

h2 {
    display: inline-block;
    margin: 1em;
    font-weight: normal;
}

aside nav .nav-links {
    border-radius: 3px;
}

aside nav .nav-links a.active {
    background-color: #f85f1e;
    color: #ffffff;
}

aside nav .nav-links a {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    color: #161616;
    padding: 12px;
    border-radius: 3px;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    color: #999999;
}

footer p {
    margin: 0;
    padding: 0;
}

/* ≤ 600px: Mobile */
@media (max-width: 600px) {
    main {
        font-size: 14px;
    }

    aside {
       width: 35%; 
    }

    footer {
        font-size: 14px;
        
    }
}

/* 601px–900px: Tablet */
/* @media (min-width: 601px) and (max-width: 900px) { } */

/* 901px–1200px: Small desktop */
/* @media (min-width: 901px) and (max-width: 1200px) { } */

/* >1200px: Large screens */
/* @media (min-width: 1201px) { } */


/* @media (max-width: 656px) {
    

} */